<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Iniciar secion</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
           <link rel="stylesheet" href="/css/style-index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    </head>

    <body>
        <div class="conatiner">
            <div class="sub-conatiner">
            <div class="diseños-container">
                <h2>¿Diseños Propios?</h2>
            </div>

            <form action="#" class="form">
            <input type="submit" value="Facebook" class="btn ingreso-facebook">
            <input type="submit" value="Google" class="btn ingreso-google">
            
            <p>Ó</p>

            <input type="text" placeholder="Usuario" class="user-input " >
            <input type="password" placeholder="*******" class="password-input ">
          

            </form>

            <div class="container-image">
                <h2>Observa nuestra comunidad</h2>
            </div> 
                <div class="botones">
            <input type="submit" value="Ingresar" class="btn-ingresar">
            <a href="#">¿Olvidaste tu clave?</a>

            <input type="submit" value="¡Registrate acá!" class="btn-register">
            </div>
        </div>
    </div>
        




        <script type="text/javascript">

            $(document).ready(function () {
                $.ajax({
                    url: '/usuario/listar',
                    contentType: "application/json",
                    type: 'GET',
                    success: function (data) {
                        for (var i = 0; i < data.usuarios.length; i += 1) {
                            $("#bodyTabla").append("<tr><td>" + data.usuarios[i].idRol + "</td><td>" + data.usuarios[i].correo + "</td><td>" + data.usuarios[i].tipoRol + "</td></tr>");
                        }
                    },
                    error: function (data) {
                        alert("error: " + data.responseJSON.mensaje);
                    }
                });
            });

	$("#crearProducto").click(function () {

			var producto = {
				correo: $("#nombreProducto").val(),
				password: $("#precioProducto").val(),
			}

			$.ajax({
				url: '/usuario/crear',
                                data: JSON.stringify(producto),
				dataType: 'json',
				contentType: "application/json",
				type: 'POST',
				success: function (data) {
                            $("#bodyTabla").append("<tr><td>" + data.usuarios[i].idRol + "</td><td>" + data.usuarios[i].correo + "</td><td>" + data.usuarios[i].tipoRol + "</td></tr>");
				},
				error: function (data) {
					alert("error: " + data.responseJSON.mensaje);
				}
			});

		});





        </script>







    </body>




</html>
