*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}

/* Encabezado de la pagina */
.descuentos{
    background-color: #1CD1B0;
    width: 100%;
    height: 23px;
    padding-top:2px;
    padding-left: 20px;
}

.titulo{
    background-color:#00669F;
    display: flex;
    align-items: center;
}

.titulo h1{
    width: 206px;
    height: 35px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 10px;
}

/* Cuerpo de la pagina */

section{
    width: 645.32px;
    height: 633.79px;
    margin-left: 410px;
    margin-top: 126px;
    margin-bottom: 192px;
}

h2{
    width: 327px;
    height: 72px;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    text-align: center;
    color: #333333;
    margin-top:100px;
}

form{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
    margin-top: 40px;
}

input{
    width: 620px;
    height: 60px;
    background-color: #FFFFFF;
    border: 1.53407px solid #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    margin-top: 10px;
    padding: 10px;
}

textarea{
    width: 620px;
    height: 251px;
    background-color: #FFFFFF;
    border: 1.53407px solid #000000;
    margin-top: 10px;
}

div{
    margin-top: 30px;
}

button{
    width: 300px;
    height: 53.79px;
    border-radius: 23.011px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 44px;
    text-align: center;
    margin-right: 20px;
}

.resetear{
    background-color: #888888;
    color: #FFFFFF;
}

.entrar{
    background-color: #1CD1B0;
    color: #000000;
}

/* Pie de pagina */
footer{
    margin-top: 7rem;
    background-color: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 51px;
}

footer article{
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFF9F9;
    padding-top: 18px;
}